html,
body {
    width: 100%;
    min-height: 100vh;
}
.img-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 454px;
    z-index: 2;
}

img {
    width: 100%;
    display: block;
}

.bg {
    /* width: 100%; */
}

.slide {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    /* optional effect with opacity */
    /* opacity: 0.75; */
    transition: transform 0.75s ease-out;
}

.slide1 {
   transform: translateX(20%);
}

.slide3 {
    transform: translateX(-10%);
 }

 .slide2 {
    transform: translateX(-10%);
 }

 .img-wrap:hover .slide{
    transform: translateX(0);
    opacity: 1;
 } 